<div class="container">
    <form [formGroup]="LoginFormulario" (ngSubmit)="logearse()">
        <div class="">
            <label for="correo">Correo</label>
            <input type="text" formControlName = "correo" placeholder="Ingrese su correo" class="border-1 p-2 m-2">
        </div>
        <div class="">
            <label for="correo">Contrasena</label>
            <input type="text" formControlName="contrasena" placeholder="Ingrese su contrasena" class="border-1 p-2 m-2">
        </div>
        <button class="bg-blue-800 text-white p-2">ingresar</button>
    </form>

    <a routerLink = "/">Ir a registrarse</a>
</div>